h1,
h2,
h3,
h4,
.big {
  color: #4566aa !important;
}

.c1 {
  color: #94944f;
}
img {
  user-select: none;
  pointer-events: none;
  border-radius: 5px;
}
.big {
  font-size: 2.1em;
  padding-left: 0.6em;
}
.profile-icon {
  width: 150px;
  height: 150px;
  background-image: url("./assets/logo.png");
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

#about-us-logo {
  width: 50%;
}

#eye-catch-logo {
  text-align: center;
  width: 50vw;
  margin-top: 50px;
  margin-bottom: 50px;
}
